@import "tailwindcss";
@theme {
    --color-primary: #dc0340;
    --color-secondary: #ffffff;
    --color-bgcolor: #fef2f5;
    --font-Outfit: "Outfit", "sans-serif";
}
body {
    background-image: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
}

#table-container {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    height: 450px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}
